<h1>Editing Subkegiatan Prioritas</h1>

<%= render 'form', subkegiatan_priority: @subkegiatan_priority %>

<%= link_to 'Show', @subkegiatan_priority %> |
<%= link_to 'Back', subkegiatan_priorities_path %>
