  <div class="gender_analysis" data-controller="gender-form" data-action='change-select@document->gender-form#fill_data'>
    <div class="field">
      <%= render 'templates/subkegiatan_card' %>
    </div>

    <%= render 'data_pembuka_wawasan' %>
  </div>
  <script>
    $(function() {
      $('form').on('click', '.add_fields_<%= gender.id %>', function(event) {
        console.log('reduce')
        let regexp, time;
        time = new Date().getTime();
        regexp = new RegExp($(this).data('id'), 'g')
        $(this).before($(this).data('fields').replace(regexp, time))
        return event.preventDefault()
      });
    });
  </script>
